CSS

body {
  font-family: "Times New Roman";
}
.main {
  max-width: 900px;
  margin: 0 auto;
  padding: 50px;
  font-size: 14px;
  background-color: white;
}

.main a:link {
  color: black;
      }
 .main a:visited { 
  color: black;
       }
 .main a:hover {
  color: #ccff00; 
  }
  
 .testbtn {
  background-color: #FF0073;
  color: white;
  font-size: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; 
}

.testbtn:hover {
  background-color: #873D5E;
}
