<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: #fff;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link and background color on hover */
li a:hover {
  background-color: #fff;
  color: #FF10F0;
}
</style>
</head>
<body>

<h2>Francesca Havelock</h2> href="index.html"

<ul>
  <li><a href="luckycharms.html">Lucky Charms</a></li>
  <li><a href="text.html">text</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>

</body>
</html>
