<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body {
  font-family: "Times New Roman";
}
div {
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 80px;
}

@media screen and (max-height: 450px) {
}


</style>
</head>   
</body>

</html> 
