body {
  background: white;
  max-width: 600px;
  margin: 0 auto;
  padding: 1em;
  font-family: Roboto Mono, italics;
  font-size: 14px;
  line-height: 1.6;
  color: black;
}

h1, h2, h3 {
  font-family: Roboto Mono, italics;
  font-size: 14px;
}

h1 {
  text-align: center;
}

a {
  color: orchid;
}

a:hover {
  color: maroon;
}

img {
  max-width: 100%;
}

.caption {
  margin-top: 0;
  text-align: right;
}

<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Times New Roman;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}


/* Side navigation links */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: white;
  color: white;
}

/* Style the content */
.content {
  margin-left: 200px;
  padding-left: 20px;
}
</style>
</head>
<body>

<div class="sidenav">
  <a href="#">Link</a>
  <a href="#">Link</a>
  <a href="#">Link</a>
</div>

<div class="content">
  <h2>CSS Template</h2>
  <p>A full-height, fixed sidenav and content.</p>
</div>

</body>
</html>
