body {
  background: lavender;
  max-width: 600px;
  margin: 0 auto;
  padding: 1em;
  font-family: Times New Roman;
  font-size: 14px;
  line-height: 1.6;
  color: black;
}

h1, h2, h3 {
  font-family: Times New Roman;
  font-size: 16px;
}

h1 {
  text-align: center;
  font-size: 16px;
}

a {
  color: orchid;
}

a:hover {
  color: maroon;
}

img {
  max-width: 100%;
}

.caption {
  margin-top: 0;
  text-align: right;
}
